<p-card>
    <form [formGroup]="productForm" class="formgroup-inline"> 
      <span class="p-float-label field">
        <input 
            type="text" 
            id="name-input"
            [formControl]="nameControl"
            pInputText 
        />
        <label for="name-input">Nome</label>
        <small  
            *ngIf="isNameControlInvalid" 
            class="p-error block"
        >
          Nome é obrigatório
        </small>   
      </span>
      <span class="p-float-label field">
        <p-inputNumber 
            mode="currency" 
            currency="BRL" 
            inputId="price-input" 
            locale="pt-BR"
            [formControl]="priceControl" 
        >
        </p-inputNumber>
        <label for="price-input">Preço</label>
        <small  
          *ngIf="isPriceControlInvalid" 
          class="p-error block"
        >
          Preço é obrigatório
        </small>
      </span>
      <p-button [disabled]="productForm.invalid" (onClick)="onSaveButtonClick()">Salvar</p-button>
    </form>
</p-card>
<div *ngIf="products$ | async as products" style="padding-top: 20px;">
  <p-dataView [value]="products">
    <ng-template let-product pTemplate="listItem">
      <div data-testid="product" class="grid col-12" style="padding: 10px;">
        <div class="col-8 font-bold text-xl">
          {{product.name}}
        </div>
        <div class="col-4 font-bold">
          {{product.price | currency}}
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>



